.container {
	padding-right: 50px;
	padding-top: 50px;
	width: 200px
}

.container-button {
	text-align: center;
	width: 120px;
	border: 1px solid;
	border-radius: 30px;
	background-color:rgb(177, 2, 177);
}
